* {
  font-family: 'Calibri', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;


  
}

a {
  text-decoration: none;
  color: #4f8fe4;
}

.container {
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  /* background-color: #f5f5f5;
  background-image: url(/image/bg.png);
  background-size: cover;
  background-repeat: no-repeat; */

  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(26.45) translate(-962.19 -721.64)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(26.45) translate(-962.19 -721.64)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(26.45) translate(-962.19 -721.64)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(26.45) translate(-962.19 -721.64)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(26.45) translate(-962.19 -721.64)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(26.45) translate(-962.19 -721.64)'%3E%3Cg fill='%234f8fe4'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(26.45) translate(-962.19 -721.64)'%3E%3Cg fill='%234f8fe4'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(26.45) translate(-962.19 -721.64)'%3E%3Cg fill='%234f8fe4'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.nav {
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.nav__left {
  flex: 1;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
}

.logo__highlight {
  color: #4f8fe4;
}

.navbar {
  display: flex;
}

.navbar__item {
  padding: 16px;
  text-decoration: none;
  color: #49515d;
  font-size: 20px;
  opacity: 0.6;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.navbar__item::after {
  content: "";  
  width: 0;
  border-bottom: 3px solid #4f8fe4;
  margin: auto;
  margin-top: 4px;
  display: block;
  transition: width 0.3s ease-in-out;
}

.navbar__item--active,
.navbar__item:hover {
  opacity: 1;
}

.navbar__item--active::after,
.navbar__item:hover::after {
  width: 24px;
}

.navbar__item:last-of-type {
  padding-right: 0;
}

.pages {
  padding: 15px 0;
  position: relative;
  flex: 1;
}

.page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 16px;
  background: white;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
}

.page--active {
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
}

.page__header {
  padding: 32px 64px;
  background-color: #4f8fe4;
  color: white;
  /* background-image: url(/image/bg.png); */
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.page__title {
  margin: 0;
  text-align: center;
  font-size: 44px;
}

.page__content {
  padding: 32px 64px;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

#logoicon {
  height: 35px;
  width: 35px;
  position: relative;
  top:4px;
  left:7px;
  opacity:0.8;
}

.homepage__header {
  display: flex;
  padding-bottom: 0;
  align-items: center;
}

.homepage__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage__avatar {
  border-radius: 4px;
  width: 250px;
  height: 250px;
  margin: 24px 0 -24px;
  border: 3px solid white;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.homepage__avatar:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.homepage__name {
  margin: 0;  
  font-size: 3rem;
  font-weight: 500;
}

.homepage__position {
  font-size: 1.25rem;
  margin-top: 8px;
}

.homepage__socialMedias {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.homepage__socialMediaItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /*小图片居中*/
  /* vertical-align:middle; */
  
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  background-color: white;
  padding: 8px;
  border-radius: 100%;
}

#linkedin {
  color:#3b5998;
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#linkedin:hover, #git:hover {
  cursor:pointer; /*鼠标改为小手指*/
}
#git {
  color: black;
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#linkedin:hover, #git:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.homepage__content {
  padding-top: 56px;
}

.homepage__content,
.resumePage__sub {
  display: flex;
  justify-content: space-between;
}

.homepage__content > div,
.resumePage__sub > div {
  flex-basis: calc(50% - 32px);
}

.homepage__aboutMeHeader {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
}

.homepage__aboutMeHeaderHighlight {
  color: #4f8fe4;
}

.homepage__aboutMeContent {
  line-height: 1.75;
  font-size: 1.1rem;
}

.homepage__contact {
  border: 0;
  font-size: 1.1rem;
}

.homepage__contact td {
  padding: 4px 0;
}

.homepage__contact td:first-of-type {
  padding-right: 42px;
}

.homepage__contact td:last-of-type {
  color: #9e9e9e;
}

.footer {
  color: rgba(172, 169, 169, 0.5);
  text-align: center;
  margin: 8px 0;
}

.resumeSub__title {
  margin-top: 0;
  font-size: 2rem;
}

.timelines {
  border-left: 2px solid #dadada;
  padding: 8px 0 8px 48px;
}

.timelines > div {
  margin-top: 16px;
  margin-bottom: 16px;
}

.timeline {
  position: relative;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  border-left: 2px solid #4f8fe4;
  margin-left: -5px;

  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.timeline::before {
  content: "";
  width: 48px;
  border-bottom: 2px solid #4f8fe4;
  position: absolute;
  left: -48px;
  top: 8px;
}

.timeline::after {
  content: "";
  position: absolute;
  left: -52px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #4f8fe4;
  top: 2px;
  background: white;
}

.timeline:hover {
  transform: translateY(-5px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.experience__title {
  margin: 0 0 8px;
}

.experience__meta {
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.experience__year {
  color: #4f8fe4;
}

.experience__divider {
  border-right: 1px solid #dadada;
}

.experience__company {
  color: #49515d;
}

.experience__description {
  line-height: 1.75;
}

.resumePage__sub + .resumePage__sub {
  margin-top: 32px;
}

.resumeSub__titleHighlight {
  color: black;
}

.skill__bar {
  /* position: relative; */
  height: 16px;
  background-color: rgba(0,0,0,0.1);
}

.skill__bar--70, .skill__bar--75, .skill__bar--80, .skill__bar--85{
  width: 0%;
  height: 16px;
  background-color:#4f8fe4;
}


.skill {
  margin: 16px 0;
  
}

.skill__title {
  margin: 0 0 8px;
  font-size: 0.8rem;
}

.skill__level {
  position: relative;
  height: 16px;
  background-color: rgba(0,0,0,0.1);
}

.skill__level:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #4f8fe4;
}

/* .skill__level--webDesign:after {
  width: 75%;
}

.skill__level--graphicDesign:after {
  width: 80%;
}

.skill__level--printDesign:after {
  width: 75%;
}

.skill__level--htmlDesign:after {
  width: 85%;
}

.skill__level--cssDesign:after {
  width: 80%;
}

.skill__level--jsDesign:after {
  width: 70%;
}

.skill__level--pythonDesign:after{
  width: 80%;
}

.skill__level--javaDesign:after{
  width: 70%;
} */

.services__titleHightLight {
  color: #4f8fe4;
  font-size: 2rem;
}

.services {
  display: flex;
  justify-content: space-around;
  margin: 48px 0;
}

.serviceItem {
  width: calc(100%/3);
  margin: 0 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.serviceItem__imageContainer {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 100%;
}

.serviceItem__image {
  width:55px;
}

.serviceItem__name {
  font-size: 18px;
}

.serviceItem__description {
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clientItem {
  width: 150px;
}

.blogs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog {
  width: calc(100%/2 - 16px);
  margin: 16px 0;
}

.blog__image {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.infoItem__description {
  /* text-align: center; */
  line-height: 1.5;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}